@import "../variables/variables";

.button {
  background: $purple;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 10px 10px 50px grey;
  cursor: pointer;
  svg {
    height: 50%;
    fill: $white;
  }
}

.closeButton {
  svg {
    transform: rotate(45deg);
  }
}

