@import "../variables/variables";

.thumbnail {
  width: 220px;
  height: 100%;
  min-height: 200px;
}

.expanded-thumbnail {
  height: 600px;
  h3 {
    color: $purple;
  }
  p {
    font-size: 1.3rem;
  }
}

.thumbnail-box {
  background: $grey;
  padding: 10px;
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.thumbnail-svg-container {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .sixtyFive {
    height: 50%;
    width: 50%;
  }
  img {
    height: 100%;
    width: 100%;
  }
}

.button-container {
  position: absolute;
  transform: translateY(-50%) translateX(50%);
  top: 0;
  right: 0;
}

ul {
  list-style-position: inside;
}

